<div class="w-100 d-flex justify-content-center flex-column">
  <div
    class="text-light d-flex flex-column text-center justify-content-center px-5"
  >
    <h3>The Open Movie Database</h3>
    <p class="py-3 px-5">
      The OMDb API is a RESTful web service to obtain movie information, all
      content and images on the site are contributed and maintained by our
      users.
    </p>
  </div>
  <div class="d-flex justify-content-center form-group">
    <input pInputText class="w-50" [formControl]="searchForm" />
    <p-button
      label="Search"
      [outlined]="true"
      severity="secondary"
      class="mx-3"
    ></p-button>
    <p-button label="Reset" (onClick)="clearForm()"></p-button>
  </div>
</div>
<div class="w-100 text-light pt-5 px-5">
  <div class="row mb-3" *ngFor="let movie of movies$ | async">
    <div class="col-8">
      <h1>{{ movie.Title }}</h1>
      <h5>{{ movie.Year }}</h5>
      <h5>{{movie.Type}}</h5>
    </div>
    <div class="col-4">
      <img src="assets/images/404.jpg" alt="" class="w-50" />
    </div>
  </div>
</div>
