<div class="auth-container min-vh-100 d-flex justify-content-between">
  <!-- <div class="w-50 bg-purple"></div> -->

  <div
      class="d-flex w-100 justify-content-center flex-column align-items-center"
    >
      <div
        class="auth-content d-flex justify-content-start flex-column align-items-center"
      >
        <div class="pb-2 pt-2 auth-login">Login</div>

        <div class="flex-grow-1 p-2 w-100">
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</div>
