$color-primary: #331B9C;
$color-secondary: #fff;
$color-tertiary: #384c91;

$color-danger: #ff5b5a;
$color-success: #27b973;
$color-info: #0066ff;
$color-warning: #ff7a00;
$color-light: #f8f9fa;
$color-dark: #212529;

$color-refresh: #a6ce39;
$color-page: #d7d7d7;

$theme-input-bg: #e3e3e3;
$theme-input-color: #000000;
$theme-input-disabled-bg: #bdbdbd;
$theme-input-btn-padding-y: 0.175rem;
$theme-input-btn-padding-x: 0.5rem;
$theme-font-family: Raleway, system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Six Caps", sans-serif;
